@model LAPTRINHWEB.Models.SinhVien

@{
    ViewData["Title"] = "Chi Tiết Sinh Viên";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>@Model.HoTen</h4>
    <p><strong>Mã Sinh Viên:</strong> @Model.MaSV</p>
    <p><strong>Giới Tính:</strong> @Model.GioiTinh</p>
    <p><strong>Ngày Sinh:</strong> @Model.NgaySinh.ToString("dd/MM/yyyy")</p>
    <p><strong>Ngành:</strong> @Model.MaNganh</p>
</div>
